<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <time type="FastUTC"/>
    <targets async="true">
        <target name="console" xsi:type="ColoredConsole" layout="[${date:format=HH\:mm\:ss}]: [${uppercase:${level}}][${logger:shortName=true}] ${message} ${exception:format=tostring}"/>
        <target name="file" xsi:type="file" fileName="console.log" layout="[${date:format=HH\:mm\:ss}]: [${uppercase:${level}}][${logger:shortName=true}] ${message} ${exception:format=tostring}" deleteOldFileOnStartup="true" />
    </targets>
    <rules>
        <logger name="*" minLevel="Debug" writeTo="console"/>
        <logger name="*" writeTo="file" />
    </rules>
</nlog>